<h1>Video#show</h1>
<!-- <p>Find me in app/views/video/show.html.erb</p> -->

<br><br>

<div id="sidebar">
<ul><li class="class1">Save this video</li>
	<li class="class2">Sharelinks</li>
	<li class="class3">Email presenter</li>
	<li class="class4">Statistics</li>
</ul>
</div>

<div id="watch">
<%= @block.html_safe %>
</div>